h1 {
    font-family: 'Roboto';
    font-size: 2.5rem;
}

#navb {
    background-color: #6699cc; 
}

#intro {
    background-color: #6699cc;   
    font-family: 'Roboto';
    line-height: 2.5;
    color: white;
    padding: 3%;
}

#about {
    padding: 5% 7%;
}

#board {
    text-align: center;
}

/* Images */
img {
    border-radius: 11px;
    width: 270px;
    height: auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* Navbar */
.navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.nav-link {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin: 15px;
}

.nav-link:hover {
    color: #ffbf69;
}

.navbar-brand:hover {
    color: #ffbf69;
}


/* Icon */
.icon {
    font-size: 2rem;
    margin-right: 20px;
    color: #6699cc;
}

.icon:hover{
    color: #ffbf69;
}

.roles {
    margin-top: 50px;
}

@media (min-width: 769px) {
    /* Images */
    img {
        width: 608px;
        height: auto;
        float: right;
    }
}

@media (max-width: 1024px) {

}